
{{#each timelines}}

<div class = "box-wrapper">

  <header>

   <div class = "fa-stack fa-lg icons">
      <i class="fa fa-circle fa-stack-2x outer"></i>
      <i class="fa fa-circle fa-stack-2x inner"></i>
      <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
    </div>


    <div class = "logBox">
      <p>{{date}}</p>
      <h2 class = "timelog">{{times}}</h2>
    </div>

  </header>

  <div class = "postBox">

    <div class="textWrap">
    <div class = "titleWrap"><div class="timeCone"></div>
    <h2 class = "postTitle">{{title}}</h2></div>

    <p>{{content}}</p>
    </div>
  </div>

</div>

{{/each}}
